<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div align="center">
        <h1>IT Books</h1>
        <table>
            <tr>
                <th>Author</th>
                <th>Name</th>
            </tr>
            <tr th:each="it:${allit}">
                <td th:text="${it.author}"></td>
                <td th:text="${it.name}"></td>
            </tr>
        </table>
    </div>
</body>
</html>